<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-fw fa-eye"></i> Detalhes da notificação</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <div class="mailbox-read-info">
      <h3><strong><%= @notification.subject %></strong></h3>
      <h5><strong>From:</strong> <%= @notification.sender.name %> (<%= @notification.sender.email %>)
        <span class="mailbox-read-time pull-right">15 Feb. 2016 11:03 PM</span></h5>
    </div>
    <!-- /.mailbox-read-info -->
    <div class="mailbox-controls with-border text-center">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Delete">
          <i class="fa fa-trash-o"></i></button>
        <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Reply">
          <i class="fa fa-reply"></i></button>
        <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Forward">
          <i class="fa fa-share"></i></button>
      </div>
      <!-- /.btn-group -->
      <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Print">
        <i class="fa fa-print"></i></button>
    </div>
    <!-- /.mailbox-controls -->
    <div class="mailbox-read-message">
      <p>Hello John,</p>

      <p>Keffiyeh blog actually fashion axe vegan, irony biodiesel. Cold-pressed hoodie chillwave put a bird
        on it aesthetic, bitters brunch meggings vegan iPhone. Dreamcatcher vegan scenester mlkshk. Ethical
        master cleanse Bushwick, occupy Thundercats banjo cliche ennui farm-to-table mlkshk fanny pack
        gluten-free. Marfa butcher vegan quinoa, bicycle rights disrupt tofu scenester chillwave 3 wolf moon
        asymmetrical taxidermy pour-over. Quinoa tote bag fashion axe, Godard disrupt migas church-key tofu
        blog locavore. Thundercats cronut polaroid Neutra tousled, meh food truck selfies narwhal American
        Apparel.</p>

      <p>Raw denim McSweeney's bicycle rights, iPhone trust fund quinoa Neutra VHS kale chips vegan PBR&amp;B
        literally Thundercats +1. Forage tilde four dollar toast, banjo health goth paleo butcher. Four dollar
        toast Brooklyn pour-over American Apparel sustainable, lumbersexual listicle gluten-free health goth
        umami hoodie. Synth Echo Park bicycle rights DIY farm-to-table, retro kogi sriracha dreamcatcher PBR&amp;B
        flannel hashtag irony Wes Anderson. Lumbersexual Williamsburg Helvetica next level. Cold-pressed
        slow-carb pop-up normcore Thundercats Portland, cardigan literally meditation lumbersexual crucifix.
        Wayfarers raw denim paleo Bushwick, keytar Helvetica scenester keffiyeh 8-bit irony mumblecore
        whatever viral Truffaut.</p>

      <p>Thanks,<br>Jane</p>
    </div>
    <!-- /.mailbox-read-message -->
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
    <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> Delete</button>
    <button type="button" class="btn btn-default"><i class="fa fa-print"></i> Print</button>
  </div>
  <!-- /.box-footer -->
</div>
<!-- /. box -->