<% content_for :full_box do %>flag
<% end %>
<div class="row">
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Menu</h3>

        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <a id="notifications-index" href="#index"><i class="fa fa-inbox"></i> Não lidas
              <% if current_user.notifications.size > 0 %>
                  <span class="label label-primary pull-right"><%= current_user.notifications.size %></span>
              <% end %>
              </a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i> Lidas</a></li>
          <li><a href="#"><i class="fa fa-file-text-o"></i> Todas</a></li>
          <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /. box -->
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Legenda</h3>

        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li><label class="panel-heading"><i class="fa fa-circle-o text-red"></i> Tabela de retirada do lixo</label>
          </li>
          <li><label class="panel-heading"><i class="fa fa-circle-o text-yellow"></i> Tabela de alimentação</label></li>
          <li>
            <label class="panel-heading"><i class="fa fa-circle-o text-light-blue"></i> Tabela de limpeza das geladeiras</label>
          </li>
          <li>
            <label class="panel-heading"><i class="fa fa-circle-o text-green"></i> Tabela de limpeza da cozinha</label>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  <div id="notifications-content" class="col-md-9">
    <%= render 'list' %>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function () {
        $('#notifications-index').click(function () {
            $('#notifications-content').html('<%= escape_javascript(render 'list') %>');
        });
    });
</script>