<% content_for :full_box do %>flag<% end %>
<% content_for :notification do %>
<div class="row">
  <div class="col-md-12">
    <%= render 'notification', notification: @notification %>
  </div>
  <!-- /.col -->
</div>
<% end %>