<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href="http://www.ufpi.br" class="text-black"><b>TJPI</b></a>

  </div>
  <strong>Felipe de Sousa Silva</strong>
  <%= link_to "&copy;".html_safe %>
  2013-<%= Date.today.year %>
</footer>
