<h1>Calendário de tarefas</h1>

<div id="calendar"></div>
<div id="popover-container" class="hidden">
  <div id="container-pop">
    <strong>Data:</strong><span class="when"></span><br>
    <strong>Residente:</strong> <span class="title"></span><br>
    <strong>Quarto:</strong><span class="user_room"></span><br>
    <br>
    <p class="text-center">
      <a href="" data-confirm="" class="url_swap_trash btn btn-warning btn-flat btn-xs"><i class="fa fa-edit fa-fw"></i> Solicitar troca com essa pessoa</a>
    </p>
  </div>
</div>
